<br />

<div class="card shadow py-2 px-1" style="width: 18rem" ">
  <img
    class="card-img-top img-fluid"
    src="<%=data.images %>"
    alt="Card image cap"
    onclick="popup(`<%=data.id%>`,`<%=data.name%>`,`<%=data.description%>`,`<%=data.price%>`,`<%=data.images%>`)"
  />

  <div class="card-body">
    <h5 class="card-title"><%=data.name %></h5>
    <div id="<%=data.id%>">

      <button  class="btn btn-secondary minus"onclick="checkquantity(`<%=data.quantity%>`,`<%=data.id%>`)"    > - </button>
      <span class="quantity" ><%=quantity %> </span>
      
    <button class="btn btn-secondary plus" onclick="checkquantity(`<%=data.quantity%>`,`<%=data.id%>`)"  > + </button>
      <span class="left" >Stock left: <%=data.quantity%></span>
     <br>
      <a href="/product/deletecart/<%=data.id%>" class="btn btn-danger delete my-1">Delete  </a>
      <a href="/product/<%=data.id%>" class="btn btn-warning my-1 ">View Details </a>
    </div>
   
  </div>
</div>
